asgiref==3.6.0
Django==4.1.6
django-environ==0.9.0
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
environ==1.0
mysqlclient==2.1.1
Pygments==2.14.0
PyJWT==2.6.0
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
